{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div class="card rounded" style="width:51rem;">
            <div>
                <table class="table table-sm table-striped table-hover">
                    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                        <tr>
                            <td width="21%">
                                user: {{ pk}}
                            </td>
                        </tr>
                    {% for resource in resources %}
                        <tr>
                            <td width="21%" style="word-break: break-all;">
                               {{ resource.resource }}
                            </td>
                            <td style="word-break: break-all;">{{ resource.created_at }}</td>

                            <td style="width: 5%">
                                <a class="icon-link icon-link-hover "data-toggle="tooltip" hx-delete="{% url 'resource_delete' r_id=resource.pk pk=pk %}">
                                <i class="fa-sharp fa-solid fa-trash-can" style="color: #a71b1b;"></i>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a data-toggle="tooltip" data-bs-placement="bottom" title="provision" href="{% url 'resource_create' pk %}" role="button">
                <i class="fa-solid fa-plus"></i>
                </a>

            </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}
